* {
  box-sizing: border-box;
}

/* Extra specificity */
html [hidden] {
  display: none !important;
}

html,
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

body {
  padding: 1rem;
}

.h-0 {
  height: 0;
}

.h-50 {
  height: 50%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.mh-100 {
  max-height: 100%;
}

.float-left {
  float: left;
}

.d-flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.child-h-100 > * {
  height: 100%;
}

.middle {
  display: flex;
  align-items: center;
}

.middle-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  height: 10rem;
}

.text-center {
  text-align: center;
}

.text-green {
  color: #5bbf49;
}

.bg-option-1 {
  background: #ff254c;
}

.bg-option-2 {
  background: #3ea0df;
}

.bg-option-3 {
  background: #ffbf39;
}

.bg-option-4 {
  background: #5bbf49;
}

.option {
  margin: 2px;
  color: #fff;
  font-size: 2vw;
  width: 50%;
  text-decoration: none;
  border: 0.3rem solid transparent;
}

.three-columns {
  column-count: 3;
  column-gap: 5rem;
}

.option-result {
  border-bottom: 1rem solid rgba(0, 0, 0, 0.5);
}

.option-result-text {
  margin-top: -1.5rem;
}

.next-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
